.card {
    padding: 2%;
    min-width: 10%;
    max-width: 10%;
    display: flex;
    border-radius: 8px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    flex-direction: row;
    flex-wrap: wrap;
    cursor: pointer;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    color: black;
}

.card:hover {
    background-color: #f3f4f6;
}

.sprite {
    width: 1vw;
    height: auto;
}