.overall-moves-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'TT Commons Pro Variable','Segoe UI','Arial',sans-serif;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 20px;
}

.moves-title {
    font-style: bold;
    font-size: 1rem;
}

.line-to-seperate {
    width: 80%;
    height: 0;
    border-top: 1px solid black;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.move-box {
    padding: 10px
}

.learn-box {
    padding: 10px
}

.move-row {
    display: flex

}

.moves-table-container {
    max-height: 50vh;
    overflow-y: auto;
    margin-bottom: 2vh;
}

.moves-table {
    width: 100%; /* Set table to take full width of container */
    border-collapse: collapse; /* Collapse borders so there's no space between them */
    table-layout: fixed;
}

.moves-table th,
.moves-table td {
    border: 1px solid #000;
    padding: 8px;
    text-align: left;
}

.moves-table th {
    background-color: #f2f2f2;
}

.moves-table tbody tr:nth-child(odd) {
    background-color: #f9f9f9;
}