.searchcontainer {
    padding: 5px;
    margin-top: 5vh;
    border-width: 2px;
    border-radius: .25rem;
    width: 50%;
    height: auto;
    align-items: center;
    display: flex;
    border-style: solid;
    border-color: #9face4;
}

.magnifying {
    height: 3vh;
    width: auto;
    padding-right: 1vw;
}

.searchbar {
    font-family: 'TT Commons Pro Variable','Segoe UI','Arial',sans-serif;
    color: #9face4;
    width: 40vw;
    border: none;
}

.searchbar:focus {
    outline: none;
}
.searchbar::placeholder {
    color :#9face4;
}