.flex {
    display: flex;
    flex-direction: row;
    background-color: #fdfdfd;
}

.main-content {
    margin-left: 8vw;
    width: calc(100vw - 4.5vw);
    display: flex;
    flex-direction: column;
}

.title {
    font-family: 'TT Commons Pro Variable','Segoe UI','Arial',sans-serif;
    font-size: 4.3rem;
    line-height: 1;
    color: #3877ea;
    font-weight: 700; 
    margin-top: 1vh;
    margin-bottom: 1.5vh;
}

.searchcontainer {
    padding: 5px;
    margin-top: 5vh;
    border-width: 2px;
    border-radius: .25rem;
    width: 50%;
    height: auto;
    align-items: center;
    display: flex;
    border-style: solid;
    border-color: #9face4;
}

.magnifying {
    height: 3vh;
    width: auto;
    padding-right: 1vw;
}

.searchbar {
    font-family: 'TT Commons Pro Variable','Segoe UI','Arial',sans-serif;
    color: #9face4;
    width: 40vw;
    border: none;
}

.searchbar:focus {
    outline: none;
}
.searchbar::placeholder {
    color :#9face4;
}