.GMButton {
    border-radius: 5px;
    font-weight: 300;
    transition-property: box-shadow;
    transition-delay: 0s, 0s;
    -webkit-transition-delay: 0s, 0s;
    -moz-transition-delay: 0s, 0s;
    -o-transition-delay: 0s, 0s;
    transition-duration: .4s, .4s;
}

.GMButton:hover {
    box-shadow: 1px 3px 4px 1px rgba(0,0,0,0.38);
}