.notice.closed {
    overflow: hidden;
    text-overflow: ellipsis; 
    white-space: nowrap;
    transition: white-space 0.2s ease-out;
}

.notice.open {
    overflow: scroll;
    transition: white-space 0.2s ease-out;
}