.overall-container {
    margin-top: 1.5vh;
    display: flex;
    flex-direction: column;
    width: 80%;
    border-width: 1.5px;
    border-style: solid;
    border-color: black;
    border-radius: 20px;
    align-items: center;
}

.title {
    color: black;
    font-size: 1rem;
}

.line-separator {
    width: 80%;
    height: 0;
    border-top: 1px solid black;
    padding-top: 2vh;
}

.ability-container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    font-family: 'TT Commons Pro Variable','Segoe UI','Arial',sans-serif;
    align-items: center;
    margin-bottom: 1.5vh;
}