.stats-container {
    display: flex;
    flex-direction: column;
    margin-top: 2vh;
    font-family: 'TT Commons Pro Variable','Segoe UI','Arial',sans-serif;
    min-width: 80%;
}

.bar-container {
    display: flex;
    margin-bottom: 5px;
    align-content: center;
    align-items: center;
    row-gap: 1px;
    width: 100%;
}

.bar-label {
    min-width: 8vw;
    text-align: left;
    font-weight: bold;
}

.bar-number {
    border-radius: 10px;
    background-color: lightblue;
    color: white;
    padding: 5px;
    margin-right: 1vw;
    min-width: 1.5vw;
    align-content: center;
    align-items: center;
}

.bar-type {
    flex-grow: 1;
    height: 20px; /* Adjust as needed */
    background-color: #7CFC00; /* Use any color you like */
    border-radius: 5px;
    overflow: hidden;
}

.bar-fill {
    height: 100%;
    border-radius: 5px;
    background-color: #32CD32; /* Use any color you like */
    transition: width 0.3s ease-in-out;
    color: white;
    transition: width 0.5s ease-in-out;
}

.stat-hp .bar-fill { background-color: #FF6347; }
.stat-attack .bar-fill { background-color: #FFA500; }
.stat-defense .bar-fill { background-color: #FFFF00; }
.stat-sp-attack .bar-fill { background-color: #1E90FF; }
.stat-sp-defense .bar-fill { background-color: #32CD32; }
.stat-speed .bar-fill { background-color: #FFC0CB; }