#display-box {
    border: solid black 1px;
    width: 70vw;
    height: 40vh;
    text-align: center;
    padding: 50px;
    margin: 20px;
}

#content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh
}

#img {
    width: 250px;
    height: 250px;
}